<!doctype html>
<html>
    <head>
        <title>Peebles Lab | {{ info.title }}</title>
        <style type="text/css">
h1, h2, h3, h4, h5, h6, a, p {
    font-family:sans-serif;
}
img.comic {
    border:4px solid #042B6A;
}
table.navbar {
    background-color:white;
    margin-left:auto;
    margin-right:auto;
}
a.navbar, a.navbar:visited {
    color:white;
    font-family:sans-serif;
    font-weight:bold;
    text-decoration:none;
    margin-left:0px;
    margin-right:0px;
    width:100px;
    height:20px;
    display:block;
}
a.navbar:hover {
    color:#042B6A;
    text-decoration:underline;
}
td.navbar {
    color:white;
    background-color:#042B6A;
    height:24px;
    width:100px;
    margin-left:10px;
    margin-right:10px;
}
td.navbar:hover {
    background-color:#AAAAAA;
}
        </style>
        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" >
        <meta name="description" content="A Webcomic about Physics and Math, by Andrew Stella and David Kilian">
        <meta name="keywords" content="peebles,lab,peebleslab,peebles lab,dave,kilian,andrew,stella,dave kilian, andrew stellaProofs,100 comics and still stuck on the same joke ,Proofs,100,comics,and,still,stuck,on,the,same,joke,">
        <link rel="icon" href="http://peebleslab.blob.core.windows.net/static/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="http://peebleslab.blob.core.windows.net/static/favicon.png" type="image/x-icon">
    </head>
    <body style="text-align:center;background-color:#C9E1FF">
        <div id="header_logo">
            <a href="/{{ banner.id }}">
                <img style="border-width:0px" src="http://peebleslab.blob.core.windows.net/{{ banner.url }}" alt="Peebles Lab" title="{{ banner.info.title }}">
            </a>
        </div>
        <div>
            <table class="navbar">
                <tr>
                    <td class="navbar" align="left"><a class="navbar" href="/{{ nav.first }}">&nbsp;|&lt; First</a></td>
                    <td class="navbar" align="left"><a class="navbar" href="/{{ nav.prev }}">&nbsp;&lt; Back</a></td>
                    <td class="navbar" align="center"><a class="navbar" href="/{{ nav.random }}">Random</a></td>
                    <td class="navbar" align="center"><a class="navbar" href="/archive.php">Archive</a></td>
                    <td class="navbar" align="right"><a class="navbar" href="/{{ nav.next }}">Next &gt;&nbsp;</a></td>
                    <td class="navbar" align="right"><a class="navbar" href="/{{ nav.last }}">Latest &gt;|&nbsp;</a></td>
                </tr>
            </table>
        </div>
        <div id="comic">
            <h2>{{ info.title }}</h2>
            <img src="http://peebleslab.blob.core.windows.net/{{ info.comic }}" alt="{{ info.title }}" title="{{ info.alt }}" class="comic">
        </div>
        <div>
            <table class="navbar" style="height:20px">
                <tr>
                    <td class="navbar" align="left"><a class="navbar" href="/{{ nav.first }}">&nbsp;|&lt; First</a></td>
                    <td class="navbar" align="left"><a class="navbar" href="/{{ nav.prev }}">&nbsp;&lt; Back</a></td>
                    <td class="navbar" align="center" style="width:200px;height:25px;">
                        <span style="vertical-align:top;font-family:sans-serif;font-weight:bold;margin-left:auto;margin-right:auto;">
                            <a href="http://www.facebook.com/share.php?u=http://www.peebleslab.com/100">
                                <img src="http://peebleslab.blob.core.windows.net/static/share_facebook.png" alt="Facebook" style="border-width:0px;vertical-align:middle;">
                            </a>
                            <a href="http://www.twitter.com/home?status=Check+out+Peebles+Lab+comic+100+-+Proofs+http://www.peebleslab.com/100">
                                <img src="http://peebleslab.blob.core.windows.net/static/share_twitter.png" alt="Twitter" style="border-width:0px;vertical-align:middle;">
                            </a>
                            <a href="http://www.reddit.com/submit?url=http://www.peebleslab.com/100">
                                <img src="http://peebleslab.blob.core.windows.net/static/share_reddit.png" alt="Reddit" style="border-width:0px;vertical-align:middle;">
                            </a>
                            <a href="http://www.digg.com/submit?url=http://www.peebleslab.com/100&topic=comics_animation&title=Peebles+Lab+Comic+100+-+Proofs">
                                <img src="http://peebleslab.blob.core.windows.net/static/share_digg.png" alt="Digg" style="border-width:0px;vertical-align:middle;">
                            </a>
                            <a href="http://www.stumbleupon.com/submit?url=http://www.peebleslab.com/100">
                                <img src="http://peebleslab.blob.core.windows.net/static/share_stumbleupon.png" alt="Stumbleupon" style="border-width:0px;vertical-align:middle;">
                            </a>
                        </span>
                    </td>
                    <td class="navbar" align="right"><a class="navbar" href="{{ nav.next }}">Next &gt;&nbsp;</a></td>
                    <td class="navbar" align="right"><a class="navbar" href="{{ nav.last }}">Latest &gt;|&nbsp;</a></td>
                </tr>
            </table>
        </div>
        <div id="footer">
            <h5>
                PeeblesLab.com<br>
                Created in honor of <a href="http://www.arlingtoncemetery.net/empeebles.htm">Admiral Edward M. Peebles</a><br>
                Copyright &copy; David Kilian and Andrew Stella 2008-{{ now.year }}. All Rights Reserved.
            </h5>
            <h5>
                You can contact the webmasters at <a href="mailto:webmaster@peebleslab.com" style="text-decoration:none;">webmaster@peebleslab.com</a>
            </h5>
            <h5>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
                    <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png">
                </a>
                <a href="http://www.facebook.com/pages/Peebles-Lab/101723119882935" style="text-decoration:none">
                    <img src="http://peebleslab.blob.core.windows.net/static/facebook.png" style="border-width:0px" alt="Peebles Lab Facebook Page">
                </a>
            </h5>
            <h5>Dave and Andrew hereby recognize Vince for being there</h5>
        </div>
    </body>
</html>
